#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}


.ant-layout-sider {
  box-shadow: 4px 0px 4px grey
}


.ant-layout .site-layout .ant-layout-header .site-layout-background {
  /* box-shadow: 0px 0px 10px  gray; */
  box-shadow: 0px 0px 6px grey
}

.logo {
  display: block;
  height: 120px;
  width: 100%;
  background: url('./image/logo192.png')no-repeat;
}






